@import url('https://fonts.googleapis.com/css?family=Francois+One|Acme|Fresca|Lato|Black+Han+Sans|Indie+Flower|Roboto|Poppins|Libre+Baskerville');


html { font-size: 1rem; }

@media (min-width: 576px) {
    
}
@media (min-width: 768px) {
    
}
@media (min-width: 992px) {
   
}
@media (min-width: 1200px) {
    
}

body {
    color: #555F61;
    font-family: Fresca;
    line-height: 1.61803398875;
}

span,
p {
    font-family: 'Lato';
}

/* navbar + header start */

.header-main > .row {
    margin: 0;
}

.header-main #logo img {
    width: 60%;
}

.header-main #slogan {
    font-family: Fresca;
    font-size: 3rem;
}

/* logo social */

.header-main .social-logo a:nth-child(1) i {
    color: hsl(221, 44%, 41%);
}

.header-main .social-logo a:nth-child(1) i:hover {
    color: hsl(221, 44%, 46%);
    transform: translateY(-5%)
}

.header-main .social-logo a:nth-child(2) {
    color: hsl(203, 89%, 53%);
}

.header-main .social-logo a:nth-child(2) i:hover {
    color: hsl(203, 89%, 58%);
    transform: translateY(-5%)
}

.header-main .social-logo a:nth-child(3) {
    color: hsl(0, 100%, 50%);
}

.header-main .social-logo a:nth-child(3) i:hover {
    color: hsl(0, 100%, 67%);
    transform: translateY(-5%)
}


.navbar {
    font-family: Fresca;
    font-size: 1.2em;
    /* if change, need to check navbar scroll fun line 170 */
    transition: all 0.3s ease-out;
    z-index: 9999;
}


/* gestion du responsive bugfixe */

@media (max-width:767.5px) {
    .navbar {
        margin-top: -120px;
        position: relative !important;

    }
}

@media (max-width:530px) {
    .navbar {
        margin-top: -100px;
        position: relative !important;
    }
}

@media (max-width:400px) {
    .navbar {
        margin-top: -80px;
        position: relative !important;
    }
}

/* handle the dropdown and affix calcul of a div */

@media (max-width:768px) {
    .hide-all {
        max-height: 111.8px;
    }
}

@media (max-width:529px) {
    .hide-all {
        max-height: 88.9px;
    }
}

@media (max-width:400px) {
    .hide-all {
        max-height: 77px;
    }
}

/* gestion du responsive bugfixe close */

.affix {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10005;
}

/* fixed to top styles */

.affix.navbar {
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid red;
}

.affix.navbar .nav-item > a,
.affix.navbar .navbar-brand {
    color: ;
}

.dropdown .nav-link::after {
    content: "\00a0\00a0 \f150";
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
}



@media (min-width: 768px) {
    .navbar-custom .dropdown:hover > .dropdown-menu {

        animation: fade .5s;
        display: block;
        visibility: visible;
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .navbar-custom {
        background-color: white;
        font-family: Fresca;
        font-size: .95rem;
        text-transform: uppercase;

    }
    .navbar-custom .dropdown-menu {
        font-family: Fresca;
        font-size: .85rem;
        margin-top: -1px;
    }

    .navbar-custom .dropdown-wombere {
        background-color: hsl(120, 64%, 55%);
        border-radius:0 5px 5px 5px;
        border-top: none;
    }

    .navbar-custom .dropdown-alseny {
        background-color: hsl(0, 100%, 69%);
        border-radius:0 5px 5px 0px;
        border-top: none;
    }

    .navbar-custom .dropdown-item:hover,
    .navbar-custom .dropdown-item:focus {
        color: #333333;

    }

    /* change the link color */
    .navbar-custom .navbar-nav .nav-link {
        color: rgba(0, 0, 0, .7);
    }

    /* change the color of active or hovered links */
    .navbar-custom .nav-item:nth-child(1):hover .nav-link {
        /* background-image: linear-gradient(to right, #FE0000 0, #FE0000 33%, #FED42A 33%, #FED42A 66%, #39D33A 66%, #39D33A 100%); */
        border-radius: 50px;
        transition: transform .8s ease;
    }

    .navbar-custom .nav-item:nth-child(1):hover .nav-link .fas {

        background: linear-gradient(to right, rgba(0, 0, 255, .7) 0, rgba(0, 0, 255, .7) 33.33%, rgba(255, 255, 255, .7) 33.33%, rgba(255, 255, 255, .7) 66.66%, rgba(255, 0, 0, .7) 66.66%, rgba(255, 0, 0, .7) 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        transform: scale(1.5);
        transition: transform .8s ease;
    }




    .navbar-custom .nav-item.active:nth-child(2) .nav-link,
    .navbar-custom .nav-item:nth-child(2):hover .nav-link {
        background-color: hsl(0, 100%, 67%);
        color: black;

    }
    .navbar-custom .nav-item.active:nth-child(3) .nav-link,
    .navbar-custom .nav-item:nth-child(3):hover .nav-link {
        background-color: #FED42A;
        color: black;
    }
    .navbar-custom .nav-item.active:nth-child(4) .nav-link,
    .navbar-custom .nav-item:nth-child(4):hover .nav-link {
        /* linked to .dropdown-wombere above */
        background-color: hsl(120, 64%, 53%);
        color: black;
    }
    .navbar-custom .nav-item.active:nth-child(5) .nav-link,
    .navbar-custom .nav-item:nth-child(5):hover .nav-link {
        background-color: hsl(203, 89%, 53%);
        color: black;
    }
    .navbar-custom .nav-item.active:nth-child(6) .nav-link,
    .navbar-custom .nav-item:nth-child(6):hover .nav-link {
        background-color: whitesmoke;
        color: black;
    }
    .navbar-custom .nav-item.active:nth-child(7) .nav-link,
    .navbar-custom .nav-item:nth-child(7):hover .nav-link {
        /* linked to .dropdown-alseny above */
        background-color: hsl(0, 100%, 67%);
        color: black;
    }
    .navbar-custom .nav-item.active:nth-child(8) .nav-link,
    .navbar-custom .nav-item:nth-child(8):hover .nav-link {
        background-color: orange;
        color: black;
    }

}

@media (max-width: 767px) {

    .navbar-toggler {
        min-height: 50px;
        min-width: 50px;
    }

    .navbar-toggler-icon {
        width: 25px;
    }
    .dropdown-wombere {
        text-align: center;
    }

    .dropdown-toggle::after {}


}

/* ANIMATED UP ARROW on xs */

.navbar-light .navbar-toggler-icon {
    transition: all .5s ease-out;
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-icon {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAACxEAAAsRAX9kX5EAAAGHSURBVDhPxZRLa8JAFIVPosbHTlBxoaAgcaeuXIou/NkByU7wtfI3+CAbQXzb9twmqWnHSQtCD0wedzLfnDt3Msbbh/BCmf79ZYp1uNlsMJlMkEql0Ov1kE6n/R61tA7X6zWm0ylyuRySySRc18XtdvN71XoK3G63mM/nyGazMAwDpmkKdDQaQZeUMuXVaoXFYoFMJiOwR93vd3E5GAyQSCT86Jd+OAycqWAUnRL0zGnEIddMB3sUnbL1+/2I09ChCva9AJw7iNEpm+M4OJ1OEqME6HkeZrNZBMaPisViCAgSKRQKOJ/P8kygZVmS/vV6/YzxQlhQTep4PMK2bTSbzYjLy+WCVqslEwVQjmH1l8ulvAuwXq8LhC4Oh4PAarWaxFTqdDoolUqSBccQXq1WpU+AjUZDIHTAOyeIU7vdRrlclgy63S7y+bzEtb/ebrfDeDyWdeJnnHA4HPq9aoVVfpX+F6hZnVBaILcDK8m1Y/sNMPY83O/38hdxv1UqFTkXdYoF/k3AO4ZN14B1QChWAAAAAElFTkSuQmCC');
    transform: rotate(-360deg);


}

/* andof ANIMATED UP ARROW */

@media (min-width:1028px) {
    /*scrollbar fun */
    .scroll-progress-container {
        background-color: white;
        height: 3px;
        left: -1em;
        position: absolute;
        top: 3.64em;
        width: 100%;

    }

    .scroll-progress {

        background-image: linear-gradient(to right, #FE0000 0, #FE0000 33%, #FED42A 33%, #FED42A 66%, #39D33A 66%, #39D33A 100%);
        height: 3.5px;
        width: 0px;
    }
}

@media (min-width:450px) and (max-width:1027px) {
    .scroll-progress-container {
        background-color: white;
        height: 3px;
        left: -1em;
        position: absolute;
        top: 5.30em;
        width: 101%;

    }

    .scroll-progress {

        background-image: linear-gradient(to right, #FE0000 0, #FE0000 33%, #FED42A 33%, #FED42A 66%, #39D33A 66%, #39D33A 100%);
        height: 3.5px;
        width: 0px;
    }
}

/*scrollbar fun close */

/* Fin navbar end*/

/* Main Intro start */

.header-accueil {



    background-attachment: fixed;
    /* background-image: url('../img/Parallax_main1bis%20-%20Copie-min.png'); 
    
    background-image: url(../img/Troupe-Handicapable%20-%20Copie.jpg);*/
    background-image: url(../img/banierebis.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', cursive;
    margin-left: 0px;
    margin-right: 0px;
    min-height: 700px;
    padding-bottom: 4.38em;
    padding-top: 4.38em;
    position: relative;

}


@media (max-width:954px) {
    .header-accueil {



        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 200px !important;
    }
}

.main-intro {

    background-image: linear-gradient(to right, rgba(254, 0, 0, .8) 0, rgba(254, 0, 0, .8) 33.33%, rgba(254, 212, 42, .8) 33.33%, rgba(254, 212, 42, .8) 66.66%, rgba(57, 211, 58, .8) 66.66%, rgba(57, 211, 58, .8) 100%);
}



.main-intro h2 {
    color: white;
    font-size: 3em;
    font-weight: bolder;
    position: relative;
    text-shadow: 1px 2px 1px rgba(150, 150, 152, 1);
}

.main-intro p {
    color: white;
    font-size: 1.25rem;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px rgba(150, 150, 152, 1);
}



@media (max-width: 767px) and (min-width:576px) {
    .main-intro h2 {
        font-size: 1.4rem
    }

    .main-intro p {
        font-size: 1.1rem;
    }
}

@media (max-width:575px) {
    .main-intro h2 {
        font-size: 1.2rem
    }


    .main-intro p {
        font-size: .8rem;

    }
}

/* Main Intro end */

/* Projet mainpagesction start */

.projet-mainpage {}

.projet-mainpage > .w-100 {
    background-color: lightgray;
}

.projet-mainpage > .w-100 h2 {}

@media (min-width: 1800px) {
    .projet-mainpage > .container {
        max-width: 80% !important;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .projet-mainpage > .container {
        max-width: 100% !important;
    }
}


.projet-mainpage .card {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    display: block;
    line-height: 1.42857143;
    margin-bottom: 20px;
    transition: box-shadow .25s;
}

.projet-mainpage .card:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.projet-mainpage .card:hover img {
    transform: scale(1.05);
}

.projet-mainpage .img-card {

    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: block;
    max-height: 220px;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .projet-mainpage .img-card {
        height: 220px;

    }
}

.projet-mainpage .img-card {
    /* background-image: linear-gradient(to bottom right, rgba(0, 0, 255,.7) 0, rgba(0, 0, 255,.7) 33.33%, rgba(255,255,255, .7) 33.33%,rgba(255,255,255, .7) 66.66%, rgba(255,0,0, .7) 66.66%, rgba(255,0,0, .7) 100%); */
    background-image: linear-gradient(to bottom right, rgba(254, 0, 0, .8) 0, rgba(254, 0, 0, .8) 30%, rgba(254, 212, 42, .8) 30%, rgba(254, 212, 42, .8) 70%, rgba(57, 211, 58, .8) 70%, rgba(57, 211, 58, .8) 100%);
}

.projet-mainpage .img-card img {


    transition: all .5s ease;
}

.projet-mainpage .card-content {
    padding: 15px;
    text-align: left;
}

.projet-mainpage .card-title {
    font-size: 1.65em;
    font-weight: 700;
    margin-top: 0px;
    text-align: center;
}

.projet-mainpage .card-title a {
    color: #000;
    text-decoration: none !important;
}

.projet-mainpage .card-read-more {
    border-top: 1px solid #D4D4D4;
}

.projet-mainpage .card-read-more a {
    font-weight: 600;
    padding: 10px;
    text-decoration: none !important;
    text-transform: uppercase
}


.news > .w-100 {
    background-color: lightgray;
}

.news > .w-100 img {}

#news-deco-one {


    background: url(../img/african-instruments-background-music-158664.jpeg) no-repeat center fixed;
    background-size: cover;

}

#news-deco-two {


    background: url(../img/african-instruments-background-music-158664.jpeg) no-repeat center fixed;
    background-size: cover;

}

.news .titre-news {
    border-top: 1px solid lightgray;
    font-size: 1.5rem;
    font-weight: 700;
}


.news .titre-news {
    border-top: 1px solid lightgray;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: -2px;
}

.news small {
    margin-bottom: 10px;
}


/* Section onglet end */

/* Section Partners start */

.partners {
    background-color: rgba(155, 155, 155, .2)
}

.partners > .w-100 {
    background-color: lightgray;
}

.carousel {
    min-height: 200px;
}

/* Section Partners end */


/* FOOTER start */

.footer-hr {
    background-image: linear-gradient(to right, blue 0, blue 33.33%, white 33.33%, white 66.66%, red 66.66%, red 100%);
    height: 3px;
}

.footer {
    /* background-image: linear-gradient(to right, #FE0000 0, #FE0000 33.33%, #FED42A 33.33%,#FED42A 66.66%, #39D33A 66.66%, #39D33A 100%);*/
    background-color: rgba(0, 0, 0, .9);
    color: gainsboro;
    font-family: Roboto;
}


/* scroll to top */

a.btt {

    background: #ebebeb;
    border-radius: 15px;
    border: .1px solid gray;
    bottom: 30px;
    display: none;
    height: 50px;
    position: fixed;
    right: 30px;
    transition: transform 0.3s ease-in-out;
    width: 50px;
    z-index: 999;
}

a.btt > i {
    color: #191717;
    height: 100%;
    left: 50%;
    position: relative;
    top: 10px;
    transform: translateX(-50%);
}

a.btt:hover {
    transform: translatey(-10%);
}

/* FOOTER end */

/*****************************
    Page Projet Handicapable
******************************/


/* Fin section presentation Projet Handicapable start*/
.handicapable_presentation h2 {
    margin: 0;
}

.handicapable_presentation p {
    background-color: white;
    font-size: 1.5em;
    line-height: 1.7em;
}

@media (min-width:1200px) {
    .handicapable_presentation .paralax {
        background: url(../img/fond.png) no-repeat center center;
        background-size: contain;
    }

    .handicapable_presentation p {
        font-size: 1em;

    }
}


@media (min-width:1600px) {

    .handicapable_presentation p {
        font-size: 1.5em;

    }

}

/* Fin section presentation Projet Handicapable end*/

/* Section Full decription */

    

.description-handi .separator {
  width: 1600px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"%3E%3Cpolygon fill="transparent" points="0 100 0 0 100 0"/%3E%3Cpolygon fill="%23FFF" points="100 -500 100 100 45 100"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: 100% 100%;
    
}

.description-handi {
    
    background-image: url(../img/ensemble.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top
}

@media (max-width:992px){
  .description-handi {
    
    background-image: url(../img/Musique%20est%20universelle.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top
}  
}

/* END OF Section Full decription */

.video-handi .container-fluid {
    width: 90%;
}

.video-handi {
    background-color:;
}

.video-handi .card {
    border: .5px solid gray;
    margin-bottom: 2em;

}

.video-handi .card-header {
    border-bottom: .5px solid gray;
    font-family: 'Indie Flower';
    font-size: 1.4rem;
    font-weight: bold;
    text-align: left;
}



/* Imagegallery Masonry start*/

/**
* Layout styles
*/

.img-grid-custom {
    background-color: whitesmoke;
}



.img-grid-custom header {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

/**
* Button component
*/

.img-grid-custom .btn {
    border-radius: 2.1875rem;
    border: .5px solid gray;
    bottom: 0;
    color: #111;
    font-size: .8rem;
    height: 50px;
    margin-right: 5px;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    transition: all .25s ease-in-out;
    width: 50px;
}

.img-grid-custom .btn:focus,
.img-grid-custom .btn:hover {
    background-color: #fff;
    border-color: gray;
    color: #111;
}

/**
* Grid styles
*/

.img-grid-custom .item__overlay {
    background-color: rgba(17, 17, 17, 0.25);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: background-color .55s ease-in-out;
    width: 100%;
    z-index: 10000
}

.img-grid-custom .item__overlay:focus,
.img-grid-custom .item__overlay:hover {
    background-color: rgba(17, 17, 17, 0.05);
}

.img-grid-custom .item__overlay:focus > button,
.img-grid-custom .item__overlay:hover > button {
    opacity: 1;
}

.img-grid-custom .grid__sizer,
.img-grid-custom .grid__item {
    min-width: 16.25rem;
    position: relative;
    width: 20%;

}

.img-grid-custom .grid__item {
    border-radius: 0.25rem;
    margin-bottom: .9375rem;
    overflow: hidden;
}

.img-grid-custom .grid__item--high,
.img-grid-custom .grid__item--high img {
    height: 30rem;
}

.img-grid-custom img,
#modalPicture img {
    height: auto;
    max-width: 100%;
    width: 100%;

}

#modalPicture .modal-dialog {
    max-width: 1000px;
}

#modalPicture {
    z-index: 10010
}

.modal-content {
    margin-top: 8em;
}

/**
* Link styles
*/

.img-grid-custom a,
.img-grid-custom .fa {
    color: #bbb;
    transition: color .25s ease-in-out;
}

.img-grid-custom a:focus,
.img-grid-custom a:hover,
.img-grid-custom .fa:focus,
.img-grid-custom .fa:hover {
    color: #666;
    text-decoration: none;
}

.img-grid-custom .active .fa {
    color: #f62459;
}

/* Imagegallery Masonry end*/



/*****************************
    Page Projet Handicapable
******************************/

/*
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Indie+Flower|Roboto|Poppins|Libre+Baskerville');
*/

/* 

red = #f47c7c
yellow = #f7f48b
green = #a1de93
blue = #70a1d7

*/